* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(212, 198, 188);
}

#navbar {
    background-color: rgb(228, 213, 202)!important;
}
.coverContainer {
    height: 18vw;
    width: 10vw;
    display: flex;
    justify-content: center;
}
.resultCover {
    max-width: 100%;
    max-height: 100%;
}

/* The entire result field */
.results{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
}

.resultTitle {
    font-size: 1rem;
    text-align: center;
}
.resultAuthor {
    font-size: .8rem;
    text-align: center;
}

/* The individual book titles, authors, & covers */
#search_field{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #bfbfc0;
    background-color: rgb(228, 213, 202);
    margin: 15px;
}

/* The individual book titles, authors, & covers */
div.result{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
   margin-top: 20px;
}

.result{
    display: flex;
    flex-direction: column;
    padding: 0 .65vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    transition: all .4s cubic-bezier(.86,.25,.74,.31);
    width: 12vw;
}

/* API auto-filled fields */
.autoFilled{
    border: 2px solid #bfbfc0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: min-content;
    margin: 10px 4px;
    background-color: rgb(228, 213, 202);
}

/* Styling for Subject Headings */
h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    border-right: 1px solid #bfbfc0;
    margin-right: 12px;
    text-align: center;
    width: 3vw;
}

h2.shrink {
    font-size: 1rem;
    justify-content: right;
    padding-left: .5vw;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade {
    filter: blur(14px) grayscale(1);
    opacity: 0;
}

#autofillResults.hidden {
    display: none;
}

#searchResults.hidden {
    display: none;
}

#loadingAnim {
    padding: 10vw;
}

.noResults h2 {
    writing-mode: initial;
    width: initial;
    height: initial;
    padding: 20px;
    border: none;
}
